/*  gallery title */
#gallery_title {
    position: relative;
    width: 40%;
    /*margin: 35px auto;*/
    text-align: center;
}

/*  gallery stuff */
#gallery_wrapper {
    position: relative;
    height: 420px;
    width: 300%;
    margin-left:0%;
    /*margin-left: -50%;*/
    /*margin: auto;*/
    text-align: center;

    /*border: red solid 1px;*/
}

#gallery_wrapper .gallery_row_wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    /*margin: 0px auto;*/
    margin-top: 0.4%;
    
    /*border: orange solid 1px;*/
}

div.gallery_item {
    margin: 0px 10px;
    /*border: 2px solid darkgrey;*/
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.gallery_item_name {
    height: auto;
    width: auto;
    clear:both;
    /*float: left;*/
    text-align: center;
}

.gallery_item_name.text_light {
    font-size: 0.80em;
    color: #c0c0c0;
}

div.gallery_item img {
    display: inline;
    margin: 0px;
    width: 150px;
    height: 150px;
}

div.gallery_item a:hover img {
    /*border: 1px solid #0000ff;*/
}

/*** pagination section ***/
.gallery_paginagion {
    width: 180px;
    margin: 20px auto;
    text-align: center;
}

.gallery_paginagion ul {
    display: inline-block;
    margin: 10px auto;
}

.gallery_paginagion li {
    display: inline;
}

.gallery_item_option_items {
    display: none;
}

.gallery_item_desc:hover span{
    display: inline-block;
}

.gallery_item_desc:hover a{
    display: inline-block;
}

.gallery_gradient_wrapper{
    position: absolute;
    width:100%;
    height: 87%;
    /*border: solid black 1px;*/
}

.gallery_gradient{
    
    position: absolute;
    width: 13%;
    height: 100%;
    z-index: 1000;
    /*border: solid black 1px;*/
}

.gallery_gradient.right{
    right: 0px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1)  100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0)  0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.gallery_gradient.left{
    left: 0px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

}


